.wrapper {
    display: flex;
}

.sidebar {
    width: 250px; /* عرض الشريط الجانبي */
    transition: width 0.3s;
}

.sidebar.collapsed {
    width: 80px; /* عرض الشريط الجانبي عند التقلص */
}

.layout-page {
    flex-grow: 1; /* يسمح للمحتوى الرئيسي بالتمدد */
}

.main-content {
    padding: 20px; /* إضافة حشوة للمحتوى */
}